.main{
    display: flex;
    
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-size: 40px;
    background-image: url( "./images/goat.jpg" );
}

.calculator{
    height:550px;
    width:375px;
    background-color: grey;
    display: grid;
    box-sizing: border-box;
    margin:auto;
   
    justify-content: center;
    grid-template: 1fr 4fr;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border: 1px solid black;
    border-radius: 15px;
    
    
}


button{
    height:60px;
    width:80px;
    
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid black;
    font-weight: 600;
    font-size: 25px;
}

.buttons-grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    row-gap: 2px;
    
    
}

#CLEAR,#DELETE{
    width: 160px;
}

#CLEAR {
    background-color: rgb(247, 61, 92);

}

#DELETE {
    background-color: rgb(0, 89, 255); 
}

.screen{
    height: 100px;
    width: 340px;
    background-color: white;
    margin:20px;
    border: 1px solid black;
    border-radius: 15px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    
    
}

button:hover {
    background-color: #1d2d44;
    transition: all 0.2s;
    filter: brightness(60%);
   
}



